@page "/Detalles"
<h3>Detalles</h3>





@using BlazorApp1.Data
@inject DetalleService detalleService

<h1>Detalles</h1>

<p></p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tiempo</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Fecha</td>
                    <td>@forecast.Tiempo</td>
                    

                </tr>
            }
        </tbody>
    </table>
}

@code {


    private Detalle[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = detalleService.GetDetalle();
    }
}
