@page "/Recursos"
<h3>Recursos</h3>


@using BlazorApp1.Data
@inject RecursoService recursoService

<h1>Recursos</h1>

<p></p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Nombre</td>
                    

                </tr>
            }
        </tbody>
    </table>
}

@code {


    private Recurso[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = recursoService.GetRecurso();
    }
}
